@import url(http://fonts.googleapis.com/css?family=Anton);

/* generic style to hopefully not overlap with existing style */
.GoDText,
.GoDText h1,
.GoDText h2,
.GoDText h3,
.GoDText h4,
.GoDText h5,
.GoDText h6,
.GoDText p{
  font-family: 'Anton', sans-serif !important;  
  text-align: center;
  color: rgba(10,10,10,0.9);
  margin: 0 !important;
}
/* the selected boxes */
.divFighter{
  position: absolute;
  display: block;
  z-index: 100000000;
  transition: all .5s ease;
  -moz-box-shadow:  0 0 10px rgba(0,0,0,0.5);
  -webkit-box-shadow:  0 0 10px rgba(0,0,0,0.5);
  box-shadow:  0 0 10px rgba(0,0,0,0.5);
  background: #FFF;
  color: #000;
}
/* fade-out elems that have already been selceted */
.domCloned{
  background: #333 !important;
  -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5) !important;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5) !important;
  color: #444 !important;
}
.domCloned img,
img.domCloned{
  background: #222 !important;
  opacity: 0.4 !important;
  -webkit-filter: blur(10px);
  -webkit-filter: grayscale(100%);
}
.domCloned p,
.domCloned h1,
.domCloned h2,
.domCloned h3,
.domCloned h4,
.domCloned h5,
.domCloned h6,
.domCloned a{
  color: #444 !important;
}


/*
==============================================
fly-off-right
==============================================
*/

.fly-off-right{
  animation-name: flyRight;
  -webkit-animation-name: flyRight; 
  animation-duration: 1.3s; 
  -webkit-animation-duration: 1.3s;
  animation-timing-function: ease-in; 
  -webkit-animation-timing-function: ease-in;   
  visibility: visible !important; 
  position: absolute;
}
@keyframes flyRight {
  0% { 
    transform: translateX(0%) translateY(0%) rotate(0deg);
  }
  20%{ 
    transform: translateX(20%) translateY(19%) rotate(60deg);
  }
  40%{ 
    transform: translateX(40%) translateY(30%) rotate(120deg);
  }
  60%{
    transform: translateX(60%) translateY(22%) rotate(180deg);
  }
  100%{
    transform: translateX(100%) translateY(-40%) rotate(300deg);
    opacity: 0;
  }
}

@-webkit-keyframes flyRight {
  0% { 
    -webkit-transform: translateX(0%) translateY(0%) rotate(0deg);
  }
  20%{ 
    -webkit-transform: translateX(20%) translateY(19%) rotate(60deg);
  }
  40%{ 
    -webkit-transform: translateX(40%) translateY(30%) rotate(120deg);
  }
  60%{
    -webkit-transform: translateX(60%) translateY(22%) rotate(180deg);
  }
  100%{
    -webkit-transform: translateX(100%) translateY(-40%) rotate(300deg);
    opacity: 0;
  }
}



/* the 'crowd'  */
#domCrowd{
  position: absolute;
  display: block;
  z-index: 1000000;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
}
.crowdBase{
  background: rgba(0,0,0,0.2) url(http://dom1nation.herokuapp.com/assets/crowd-01.png) bottom no-repeat;
  background-size: 100%;
}
.crowdBaseTwo{
  background: rgba(0,0,0,0.2) url(http://dom1nation.herokuapp.com/assets/crowd-02.png) bottom no-repeat;
  background-size: 100%;
}
.crowdCheer{
  background: rgba(255,0,0,0.4) url(http://dom1nation.herokuapp.com/assets/crowd-cheer-01.png) bottom no-repeat;
  background-size: 100%;
}
.crowdCheerTwo{
  background: rgba(255,255,255,0.6) url(http://dom1nation.herokuapp.com/assets/crowd-cheer-02.png) bottom no-repeat;
  background-size: 100%;
}

/* the popup boxes */
#sanityTest{
  display: none;
}
#GDMessageContainer{
  z-index: 10000000; 
  display: none; 
  position: fixed;
  top: 50px; 
  background: #FFF; 
  border-radius: 3px; 
  width: 300px; 
  padding: 1em;
  border: solid 1px rgba(10,10,10,0.9);
  -moz-box-shadow:  0 0 10px rgba(0,0,0,0.5);
  -webkit-box-shadow:  0 0 10px rgba(0,0,0,0.5);
  box-shadow:  0 0 10px rgba(0,0,0,0.5);
  text-align: center;
}
#GDMessageContainer button{
  display: none;
}
#GDMessageContainer table{
  width: 100%;
  margin: 0 auto;
}










/*

Following styles borrowed from: 

==============================================
CSS3 ANIMATION CHEAT SHEET
==============================================

Made by Justin Aguilar

www.justinaguilar.com/animations/

Questions, comments, concerns, love letters:
justin@justinaguilar.com
==============================================
*/
/*
==============================================
tossing
==============================================
*/

.tossing{
  animation-name: tossing;
  -webkit-animation-name: tossing;  

  animation-duration: 2.5s; 
  -webkit-animation-duration: 2.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
  0% {
    transform: rotate(-4deg); 
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg); 
  }           
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg); 
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg); 
  }       
}


/*
==============================================
hatch
==============================================
*/

.hatch{
  animation-name: hatch;
  -webkit-animation-name: hatch;  

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%; 

  visibility: visible !important;   
}

@keyframes hatch {
  0% {
    transform: rotate(0deg) scaleY(0.6);
  }
  20% {
    transform: rotate(-2deg) scaleY(1.05);
  }
  35% {
    transform: rotate(2deg) scaleY(1);
  }
  50% {
    transform: rotate(-2deg);
  } 
  65% {
    transform: rotate(1deg);
  } 
  80% {
    transform: rotate(-1deg);
  }   
  100% {
    transform: rotate(0deg);
  }                 
}

/*
==============================================
bounce
==============================================
*/


.bounce{
  animation-name: bounce;
  -webkit-animation-name: bounce; 

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;  
  
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;   
}

@keyframes bounce {
  0% {
    transform: translateY(0%) scaleY(0.6);
  }
  60%{
    transform: translateY(-100%) scaleY(1.1);
  }
  70%{
    transform: translateY(0%) scaleY(0.95) scaleX(1.05);
  }
  80%{
    transform: translateY(0%) scaleY(1.05) scaleX(1);
  } 
  90%{
    transform: translateY(0%) scaleY(0.95) scaleX(1);
  }       
  100%{
    transform: translateY(0%) scaleY(1) scaleX(1);
  } 
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%) scaleY(0.6);
  }
  60%{
    -webkit-transform: translateY(-100%) scaleY(1.1);
  }
  70%{
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1.05);
  }
  80%{
    -webkit-transform: translateY(0%) scaleY(1.05) scaleX(1);
  } 
  90%{
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1);
  }       
  100%{
    -webkit-transform: translateY(0%) scaleY(1) scaleX(1);
  }   
}