@import url(http://fonts.googleapis.com/css?family=Squada+One);

/* generic style to hopefully not overlap with existing style */
body {
  font-family: 'Squada One', sans-serif !important;
  padding-top: 30px;
  text-align: center;
}
table{
  width: 80%;
  border: dashed 1px rgba(0,0,0,0.8);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6{ 
  text-align: center;
  color: rgba(243,16,0,1);
  padding: 1%;
  margin: 5px auto;
  z-index: 100000000;
  font-size: 16px;
  text-transform: uppercase;
  max-width: 800px;
}
p{
  max-width: 800px;
  margin: 1em auto;
}
h1{
  font-size: 36px;
}
h3{
  font-size: 24px;
  color: rgba(51,215,217,1);
}
h4{
  font-size: 18px;
}
h6{
  font-size: 18px;
  color: #333;
}
table td{
  border: none;
}
th{
  color: rgba(243,16,0,1);
  font-size: 18px;
}
tr.even{
  background: rgba(51,215,217,1);
}