// Place all the styles related to the Battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
==============================================
fly-off-right
==============================================
*/

.fly-off{
  display: block;
  width: 100px;
  height: 100px;
  background: #F00;
}

.fly-off-right{
  animation-name: flyRight;
  -webkit-animation-name: flyRight; 
  animation-duration: 1.3s; 
  -webkit-animation-duration: 1.3s;
  animation-timing-function: ease-in; 
  -webkit-animation-timing-function: ease-in;   
  visibility: visible; 
  position: absolute;
  z-index: 10000000;
}
@keyframes flyRight {
  0% { 
    transform: translateX(0%) translateY(0%) rotate(0deg);
  }
  20%{ 
    transform: translateX(100%) translateY(19%) rotate(60deg);
  }
  40%{ 
    transform: translateX(200%) translateY(30%) rotate(120deg);
  }
  60%{
    transform: translateX(300%) translateY(22%) rotate(180deg);
  }
  100%{
    transform: translateX(400%) translateY(-40%) rotate(300deg);
  }
}

@-webkit-keyframes flyRight {
  0% { 
    -webkit-transform: translateX(0%) translateY(0%) rotate(0deg);
  }
  20%{ 
    -webkit-transform: translateX(100%) translateY(19%) rotate(60deg);
  }
  40%{ 
    -webkit-transform: translateX(200%) translateY(30%) rotate(120deg);
  }
  60%{
    -webkit-transform: translateX(300%) translateY(22%) rotate(180deg);
  }
  100%{
    -webkit-transform: translateX(400%) translateY(-40%) rotate(300deg);
  }
}


