// Place all the styles related to the Battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
==============================================
fly-off-right
==============================================
*/

.fly-off{
  display: block;
  min-width: 100px;
  min-height: 100px;
  color: red !important;
  visibility: visible; 
  position: absolute;
  z-index: 10000000;
  animation-name: flyDown;
  -webkit-animation-name: flyDown; 
  animation-duration: 1.2s; 
  -webkit-animation-duration: 1.2s;
  animation-timing-function: ease-in; 
  -webkit-animation-timing-function: ease-in;   

}
@keyframes flyDown {
  0% { 
    transform: translateY(0%) rotate(0deg);
  }
  20%{ 
    transform: translateY(-10%) rotate(30deg);
  }
  100%{
    transform: translateY(-1200%) rotate(359deg);
  }
}
@-webkit-keyframes flyDown {
  0% { 
    -webkit-transform: translateY(0%) rotate(0deg);
  }
  20%{ 
    -webkit-transform: translateY(-10%) rotate(30deg);
  }
  100%{
    -webkit-transform: translateY(-1200%) rotate(359deg);
  }
}